.custom-btn {
          background-color: #aba2db; /* lilac */
          color: #000000; /* black text*/
          border: none;
          width: 80%
        }
        
        .custom-btn:hover {
          background-color: #8c75fc;
          color: #000000; /* black text*/
        }
        