#root {
  margin: 0 auto;
  text-align: center;
  width: 100%; /* Ocupa todo el ancho */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.MainContainer {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  margin: 0 auto; /* Centra el contenedor */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.ToDoContainer {
  width: 90%; /* Ocupa todo el ancho de la pantalla */
  margin: 0 auto; /* Centra el contenedor */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.FormContainer{
  width: 45%; 
  height: 100%;
  padding: 2rem 1rem 2rem 2rem;
  display: flex;
  align-items: flex-start; 
}

.ItemCardContainer {
  width: 55%; 
  max-width: 1200px; 
  display: flex;
  padding: 2rem 2rem 2rem 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-blue {
  background-color: #7ee4f1 !important; /* mint */ 
  color: #002820; /* verde oscuro para el texto */
  border: none;
}

@media (max-width: 768px) {
  .ToDoContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }

  .FormContainer,
  .ItemCardContainer {
    width: 100%;
    padding: 0 1rem;
  }
}
